@media (max-width: 1140px) {
  .services__item {
    width: 50%;
  }
}

@media (max-width: 1023px) {
  .nav {
    width: auto;
  }

  .nav__menu-wrapper {
    order: 1;
    width: auto;
  }

  .menu-button {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 30px;
    position: relative;
  }

  .menu-button:focus {
    outline: none;
  }

  .menu-button span {
    display: block;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
  }

  .menu-button::before,
  .menu-button::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: 0.3s;
  }

  .menu-button::before {
    top: 5px;
  }

  .menu-button::after {
    bottom: 5px;
  }

  .menu-button-active span {
    opacity: 0;
  }

  .menu-button-active::before {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-button-active::after {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__menu {
    position: absolute;
    right: -30px;
    max-width: 320px;
    align-items: flex-end;
    top: 100%;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s;
    background-color: #000;
  }

  .nav__menu-active {
    transform: translateX(0);
  }

  .slide__top-descr {
    font-size: 24px;
    line-height: 24px;
  }

  .slide__title {
    font-size: 40px;
    line-height: 40px;
  }

  .slide__bottom-descr {
    max-width: 470px;
    font-size: 14px;
    line-height: 20px;
  }

  .nav__item {
    margin-right: 30px;
  }

  .header .slick-prev {
    left: 50px;
  }

  .header .slick-next {
    right: 50px;
  }
}

@media (max-width: 840px) {
  .slide__top-descr {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .slide__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 14px;
  }

  .slide__bottom-descr {
    max-width: 320px;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 30px;
  }

  .button {
    font-size: 12px;
    line-height: 18px;
    padding: 12px 24px;
  }

  .cta-flex {
    flex-direction: column;
  }

  .left-block {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 740px) {
  .header__top {
    position: static;
    padding-bottom: 20px;
  }

  .header .slick-prev,
  .header .slick-next {
    width: 30px;
    height: 30px;
  }

  .header .slick-prev {
    left: 30px;
  }

  .header .slick-next {
    right: 30px;
  }

  .header .slick-dots {
    bottom: 20px;
  }

  .services__item {
    width: 100%;
  }

  .promo__list {
    padding: 0;
  }

  .promo__item {
    position: static;
    transform: translateX(0);
    width: 100%;
    text-align: center;
  }

  .promo__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .promo__cta h3 {
    font-size: 22px;
    line-height: 26px;
  }

  .promo__cta-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 480px) {
  .logo-link {
    width: 40%;
    margin-right: 0;
  }

  .logo-link img {
    width: 100%;
    height: auto;
  }

  .header .slick-prev,
  .header .slick-next {
    visibility: hidden;
  }

  .header .slick-dots {
    bottom: 10px;
  }

  .slide__top-descr {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .slide__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .slide__bottom-descr {
    max-width: 290px;
    font-size: 9px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .button {
    font-size: 8px;
    line-height: 12px;
    padding: 6px 12px;
  }

  .services__item {
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 20px;
    line-height: 20px;
  }

  section p {
    font-size: 10px;
    line-height: 18px;
  }

  .promo__cta h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .promo__cta-text {
    font-size: 11px;
    line-height: 11px;
  }

  .left-block {
    margin-bottom: 20px;
  }

  .promo__cta {
    padding: 20px 0;
  }
}