@import url(fonts.css);

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

.button {
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 37px;
  background-color: #998675;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #736357;
  outline: none;
}

.button:active {
  box-shadow: inset 0 -3px 0 #998675;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

section {
  padding: 80px 0;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.section-title {
  font-family: "Raleway Semibold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #555;
  text-align: center;
  margin-bottom: 18px;
}

section p {
  
}

.section-descr {
  max-width: 757px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  text-align: center;
  margin-bottom: 34px;
}

.header {
  background-color: #363636;
  color: #fff;
}

.header__top-wrapper {
  position: relative;
  z-index: 100;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.nav {
  display: flex;
  width: 100%;
  max-width: 770px;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
}

.logo-link {
  margin-right: 30px;
}

.logo-img {
  display: block;
}

.nav__menu-wrapper {
  width: 100%;
  max-width: 640px;
  display: flex;
  align-items: center;
}

.menu-button {
  display: none;
}

.nav__menu {
  width: 100%;
  max-width: 640px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
}

.nav__link {
  display: block;
  padding: 15px 0;
}

.nav__link:hover,
.nav__link:focus {
  color: #c7b299;
}

.nav__buttons-item:not(:last-child) {
  margin-right: 28px;
}

.nav__buttons-item {
  height: 24px;
}

.nav__buttons-item a {
  display: block;
  height: 24px;
}

.search-button:hover svg use,
.cart-link:hover svg use {
  fill: #c7b299;
}

.nav__search {
  position: relative;
}

.nav__search-input {
  box-sizing: border-box;
  width: 200px;
  position: absolute;
  top: 0;
  right: -5px;
  border: none;
  border-radius: 30px;
  padding-left: 10px;
  height: 25px;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.3s;
}

.search-button:focus+.nav__search-input,
.search-button:active+.nav__search-input {
  transform: scaleX(1);
}

.nav__search-input:focus {
  transform: scaleX(1);
}

/*header__slider*/

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.slide__top-descr {
  font-family: "Raleway Medium", sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 14px;
}

.slide__title {
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 19px;
}

.slide__bottom-descr {
  max-width: 580px;
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
}


/*slick-slider custom settings*/

.header .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header .slick-dots {
  bottom: 42px;
}

.header .slick-dots li button {

  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}

.header .slick-dots .slick-active button {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.header .slick-dots li {
  width: auto;
  height: auto;
}

.header .slick-prev,
.header .slick-next {
  width: 50px;
  height: 50px;
  border-left: 4px solid #d3c1ad;
  border-bottom: 4px solid #d3c1ad;
  z-index: 10;
}

.header .slick-prev::before,
.header .slick-next::before {
  content: "";
}

.header .slick-prev {
  left: 150px;
  transform: rotate(45deg);
}

.header .slick-next {
  right: 150px;
  transform: rotate(-135deg)
}

/*services*/

.services {
  padding-bottom: 20px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.services__item {
  width: 25%;
  min-width: 270px;
  margin-bottom: 60px;
}

.services__item-wrap {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 270px;
}

.services__item-wrap:hover .services__icon path {
  fill: #c7b299;
}

.services__item-wrap:hover .services__item-title {
  color: #c7b299;
}

.services__item-wrap:hover span {
  opacity: 1;
}

.services__icon {
  margin-bottom: 29px;
}

.services__item-title {
  font-family: "Raleway Semibold", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #555555;
  margin-bottom: 14px;
}

.services__description {
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  margin-bottom: 25px;
}

.services__item span {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #c7b299;
  opacity: 0.3;
}

/*promo*/

.promo {
  background-color: #fbfaf8;
  padding-bottom: 0;
}

.promo__list {
  position: relative;
  padding-top: 41.45%;
}

.promo__item {
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  width: 65.8%;
  max-width: 770px;
}

.promo__item img {
  width: 100%;
  height: auto;
}

.item-1 {
  left: -30px;
  z-index: 1;
}


.item-2 {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.item-3 {
  right: -30px;
  z-index: 3;
}

.promo__item-active {
  z-index: 10;
}


.promo__cta {
  padding: 48px 0;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.cta-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.promo__cta h3 {
  font-family: "Raleway Regular", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 8px;
}

.promo__cta span {
  color: #c7b299;
}

.promo__cta-text {
  font-size: 18px;
  line-height: 18px;
  color: #615855;
}

.cta-button {
  padding-left: 28px;
  padding-right: 28px;
}

/*gallery*/

.gallery {
  padding-bottom: 50;
}

.gallery__tabs {
  max-width: 605px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.gallery__tabs button {
  font-size: 14px;
  line-height: 21px;
  color: #8c8c8c;
  padding: 5px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery__tabs button:last-child {
  margin-right: 0;
}

.gallery__tabs button:hover,
.gallery__tabs button:focus,
.gallery__tabs button:active {
  background-color: #998675;
  color: #fff;
}

.gallery__tabs .gallery__tab-active {
  background-color: #998675;
  color: #fff;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item-wrap {
  width: 32%;
  margin-bottom: 30px;
}

.gallery__item {
  max-width: 370px;
  margin: 0 auto;
}

.gallery__item-top {
  position: relative;
}

.gallery__img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.gallery__item-link {
  width: 26px;
  height: 26px;
}

.link-1 {
  background-image: url(../img/gallery__item-link-1.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 28px;
}

.link-2 {
  background-image: url(../img/gallery__item-link-2.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gallery__item-bottom {
  padding: 30px 0 24px 20px;
  background-color: #fbfaf8;
  position: relative;
  transition: 0.3s;
}

.gallery__item-bottom::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: 100%;
  left: 19px;
  width: 30px;
  height: 20px;
  border: 15px solid transparent;
  border-top-width: 10px;
  border-bottom: 10px solid #fbfaf8;
}

.gallery__item-title {
  font-family: "Raleway Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #c7b299;
  margin-bottom: 7px;
}

.gallery__item-descr {
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
}

.gallery__item:hover .gallery__item-hover {
  visibility: visible;
  opacity: 1;
}

.gallery__item:hover .gallery__item-bottom {
  background-color: #362f2d;
}

.gallery__item:hover .gallery__item-bottom::before {
  border-bottom: 10px solid #362f2d;
}

.gallery__item:hover .gallery__item-title {
  color: #ffffff;
}

.gallery__item:hover .gallery__item-descr {
  color: #c7b299;
}